@mixin display-style($display, $align-itens, $justify-content) {
    display: $display;
    align-items: $align-itens;
    justify-content: $justify-content;
}
@mixin text-style($weight, $font-size, $font-family) {
    font-weight: $weight;
    font-size: $font-size;
    font-family: $font-family;
}
.btn-style1 {
    color: $white;
    transition: 0.5s;
    max-width: 28.8rem;
    max-height: 9.3rem;
    border-radius: 1rem;
    text-decoration: none;
    padding: 2.1rem 5.6rem;
    background-color: $blue-button;
    @include display-style(flex, center, center);
    @include text-style(400, $text-size-medium, Cinzel);
    &:hover {
        background-color: $blue-button-hover;
        transition: 0.5s;
    }
}
.btn-style2 {
    color: $black;
    transition: 0.5s;
    max-width: 28.8rem;
    max-height: 9.3rem;
    border-radius: 1rem;
    text-decoration: none;
    padding: 2.1rem 5.6rem;
    border: solid 2px $black;
    background-color: transparent;
    @include display-style(flex, center, center);
    @include text-style(400, $text-size-medium, Cinzel);
    &:hover {
        color: $white;
        transition: 0.6s;
        background-color: $black;
        border: solid 2px transparent;
    }
}
.btn-style3 {   
    gap: 1rem;
    cursor: pointer;
    transition: 0.5s;
    max-width: 28.8rem;
    max-height: 5.3rem;
    border-radius: 1rem;
    padding: 1.1rem 4.6rem;
    background-color: $cyan-button;
    @include display-style(flex, center, center);
    @include text-style(600, $text-size-medium, Cinzel);
    a{
    color: $black;

        text-decoration: none;    
    }
    &:hover {
        transition: 0.6s;
        background-color: $cyan-button-hover;
    
    }
}
.btn-style4 {   
    gap: 1rem;
    cursor: pointer;
    transition: 0.5s;
    max-width: 28.8rem;
    max-height: 5.3rem;
    border-radius: 1rem;
    padding: 1.1rem .6rem;
    background-color: $green-button;
    @include display-style(flex, center, center);
    @include text-style(600, $text-size-medium, Cinzel);
    a{
        color: $black;
        text-decoration: none;    
    }
    &:hover {
        transition: 0.6s;
        background-color: $green-button-hover;
    
    }
}
.btn-style5{   
    gap: 1rem;
    cursor: pointer;
    transition: 0.5s;
    max-width: 28.8rem;
    max-height: 5.3rem;
    border-radius: 1rem;
    padding: 1.1rem .6rem;
    background-color: $red-button;
    @include display-style(flex, center, center);
    @include text-style(600, $text-size-medium, Cinzel);
    a{
        color: $black;
        text-decoration: none;    
    }
    &:hover {
        transition: 0.6s;
        background-color: $red-button-hover;
    
    }
}
.header {
    gap: 5rem;
    width: 100%;
    color: $white;
    z-index: 2;
    position: fixed;
    padding: 1rem 5rem;
    background-color: $less-black;
    @include text-style(400, $title-size-small, Cinzel);
    @include display-style(flex, center, space-between);
    .users-functions {
        gap: 5rem;
        @include display-style(flex, center, center);
    }
    .logo {
        height: 5.4rem;
    }
    img {
        cursor: pointer;
        width: 50px;
    }
}
.products-footer {
    color: $blue;
    padding: 5.6rem 9.6rem 2rem;
    background-color: $less-black;
    .info-text {
        h1 {
            @include text-style(600, $title-size-small, Cinzel);
        }
        p {
            @include text-style(400, $text-size-medium, Cinzel);
        }
    }
    .footer-icons {
        ul {
            gap: 1rem;
            list-style: none;
            @include display-style(flex, center, end);
            a {
                img {
                    width: 50px;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    .products-footer {
        padding: 3.6rem 4.6rem;
    }
}
@media (max-width: 356px) {
    .header {
        padding: 1rem 2rem;
    }
} ;
