* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fundo {
    width: 100%;
    height: 20vh;
    background-image: url(../../Componentes/images/age-barros-rBPOfVqROzY-unsplash.jpg);
}
