* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
@import "colors.scss";
@import "variables.scss";
@import "global.scss";
@import "product.scss";
.content {
    width: 100%;
    height: 100vh;
    .fundo {
        width: 100%;
        height: 34vh;
        background: url('images/bgimage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        .icon {
            display: flex;
            padding-top: 23rem;
            justify-content: center;
        }
    }
    .text {
        width: 100%;
        height: 66vh;
        display: flex;
        flex-direction: column;
        padding: 18.1rem 19.7rem;
        h1 {
            @include text-style(800, $title-size-large, Cinzel);
        }
        p {
            @include text-style(600, $text-size-large, Cinzel);
        }
        .btn-style1 {
            margin-top: 3.2rem;
        }
    }
}
@media (max-width: 1440px) {
    .content {
        .fundo {
            height: 34vh;
            .icon {
                padding-top: 11.75rem;
                img {
                    width: 17rem;
                }
            }
        }
        .text {
            padding: 5.1rem 11.7rem;
            h1 {
                @include text-style(800, $title-size-medium, Cinzel);
            }
            p {
                @include text-style(600, $text-size-medium, Cinzel);
            }
            .btn-style1 {
                margin-top: 1.2rem;
                max-width: 24.8rem;
                max-height: 6.3rem;
            }
        }
    }
}
@media (max-width: 790px) {
    .content {
        .fundo {
            height: 28vh;
            .icon {
                padding-top: 7rem;
                img {
                    width: 14rem;
                }
            }
        }
        .text {
            padding: 6.1rem 8.7rem;
        }
    }
}
@media (max-width: 584px) {
    .content {
        .fundo {
            height: 27vh;
            .icon {
                padding-top: 6.5rem;
            }
        }
        .text {
            padding: 4.1rem 4.7rem;
        }
    }
}
@media (max-width: 505px) {
    .content {
        .fundo {
            height: 27vh;
            .icon {
                padding-top: 6.5rem;
                img {
                    width: 14rem;
                }
            }
        }
        .text {
            padding: 4.1rem 4.7rem;
            h1 {
                @include text-style(800, $title-size-small, Cinzel);
            }
            p {
                @include text-style(600, $text-size-small, Cinzel);
            }
            .btn-style1 {
                margin-top: 1.2rem;
                max-width: 16.8rem;
                max-height: 0.3rem;
            }
        }
    }
} ;
