.user-page{
    display: flex;
    .sidebar{
        width: 32rem;
        height: 100vh;
        flex-direction: column;
        background-color: $less-black;
        @include display-style(flex, center, none);
        .return{
            top: 1rem;
            left: 1rem;
            position: absolute;    
            img{
                width: 3rem;
            }
        }
        .user{
            img{
                width: 10rem;
                margin-top: 3rem;
            }
        }
        .user-info{
            margin-bottom: 1rem;
            label, .switch-password{
                color: $white;
                margin: 1rem 0rem .5rem 1rem;
                @include text-style(400, $text-size-small, Cinzel);
            }
            input{
                width: 100%;
                border: none;
                color: $white;
                text-align: center;
                background-color: $blue;    
                @include text-style(600, $text-size-small, Cinzel);
            }
        }
    }
    .content{
        flex-direction: column;
        @include display-style(flex, center, none);
        .title{
            text-align: center;
            @include text-style(500,$title-size-large, Cinzel)
        }
        .purchase{
            width: 80%;
            gap: 0.8rem;
            display: flex;
            padding: 2rem;
            flex-direction: column;
            background-color: $gray;
            .historic{
                gap: 1rem;
                width: 100%;
                height: 20.8vh;
                @include display-style(flex, center, none);
                background-color: $dark-blue;
                .image{
                    width: 17.8rem;
                    overflow: hidden;
                    max-height: 20.8vh;
                    @include display-style(flex, center, none);
                    img{
                        width: 17.8rem;
                    }
                }
                .historic-watch{
                    color: $white;
                    @include text-style(400,$text-size-small, Cinzel);
                    p{
                        margin-bottom: .5rem;
                    }
                }
            }
            .address-info{
                color: $black;
                margin-top: .2rem;
                @include text-style(400,$text-size-small, Cinzel);

                &:last-child(){
                    text-align: end;
                }   
                p{
                    font-size: 1.2rem;
                    margin-bottom: .5rem;
                    font-weight: 600;
                    strong{
                        font-weight: 700;
                    
                    }
                }
            }
        }
        .user-buttons{
            width: 80%;
            margin-top: 0.5rem;
            @include display-style(flex, none, center);
        }
    }
}
@media (max-width: 944px) {
    .user-page{
        .content{
            .title{
                font-size: $title-size-medium;
            }
        }   
    }
} ;
@media (max-width: 829px) {
    .user-page{
        .sidebar{
            width: 28rem;
        }
        .content{
            .purchase{
                padding: 1rem 2rem;
            }   
            .user-buttons{
                flex-direction: column;
                align-items: center
            }
        }
    }
} ;
@media (max-width: 707px) {
    .user-page{
        .content{
            .purchase{
                width: 90%;

                .historic{
                    .historic-watch{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
} ;
@media (max-width: 662px) {
    .user-page{
        .sidebar{
            height: 111vh;
        }
    }
} ;

@media (max-width: 585px) {
    .user-page{
        .sidebar{
            height: 158vh;
        }
        .content{
            .purchase{
                .historic{
                    height: 24rem;
                    flex-direction: column;
                }
            }
        }
    }
} ;
@media (max-width: 504px) {
    .user-page{
        flex-direction: column;
        .sidebar{
            width: 100%;
            height: 90vh
        }
        .content{
            .user-buttons{
                padding: 0 0 1rem;
            }
        }
    }
} ;