{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Loja de Relógios - Esqueci minha senha{% endblock title %}</title>
{% block content %}

<div style="background-color: #1f2453; min-height: 100vh;" class="container-fluid fs-2 p-5">
    <a href="{% url 'lojarelogiosapp:products' %}" class="return">
        <img src="{% static 'lojarelogiosapp/images/icon-arrow.svg' %}" alt="Return" /></a>

    <div style="margin-top: 5em;" class="rounded bg-white shadow-sm mx-auto p-5 col-lg-6">
        <h1 class="text-center main-title" style="font-size: xx-large;">Nova senha</h1>

        <form method="post" id="switch-pass-2-form" action="{% url 'lojarelogiosapp:confirm_pass' pk %}">
            {% csrf_token %}

            <br />
            <p class="text-danger text-center">{{ erro_msg }}</p>
            <br />

            <div class="mb-3">
                <label for="senha" class="form-label">Senha:<span class="text-danger">*</span></label>
                <input required minlength="8" name="senha" type="password" class="fs-2 p-3 form-control" id="senha"
                    aria-describedby="senha">
            </div>

            <div class="mb-3">
                <label for="confirma-senha" class="form-label">Confirmar senha:<span
                        class="text-danger">*</span></label>
                <input required name="confirma-senha" type="password" class="fs-2 p-3 form-control" id="confirma-senha"
                    aria-describedby="confirma-senha">
            </div>
            <div class="m-5">
                <span id="erro-msg-span" class="text-danger text-center"></span>
                <button id='sbtn' type="button" class="mt-5 mb-4 btn-style1 d-grid mx-auto">Trocar senha</button>
            </div>
        </form>
    </div>
</div>
<script async src="{% static '/lojarelogiosapp/scripts/confirm-pass.js' %}"></script>
{% endblock content %}