{% extends 'base.html' %}
<title>{% block title %}Loja de Relógios - Olá {{ user.username }}{% endblock title %}</title>
{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid fs-1">
    <br />
    <br />
    <br />
    <br />
    <ul class="card row text-center list-group col-lg-6 col-sm-10 mx-auto p-5">
        <h1>Olá {{ user.username }}</h1>
        <li class="list-group-item">Nome completo: {{ user.first_name }} {{ user.last_name }}</li>
        <li class="list-group-item">Email: {{ user.email }}</li>
        <li class="list-group-item">Cadastrado em: {{ user.date_joined }}</li>
    </ul>

    <div class="d-grid gap-2 col-lg-6 col-sm-10 mx-auto my-5">
        <a href="{% url 'lojarelogiosapp:logout' %}" type="button" class="btn btn-link fs-1">Sair</a>
    </div>
</div>
{% endblock content %}