{% extends 'base.html' %}
<title>{% block title %}Loja de Relógios - Esqueci minha senha{% endblock title %}</title>
{% block content %}
<br class="my-5" />
<br class="my-5" />
<br class="my-5" />
<br class="my-5" />
<br class="my-5" />
<br class="my-5" />
<br class="my-5" />
<br class="my-5" />
<br class="my-5" />
<div class="text-center my-5">
    <h1 class="text-success">Um email foi enviado para {{ user_mail }}</h1>
    <h2>Favor verificar!</h2>
</div>
{% endblock content %}
{% include 'navbar.html' %}