{% extends 'base.html' %}
<title>{% block title %}Loja de Relógios - Registre-se{% endblock title %}</title>
{% block content %}
{% include 'navbar.html' %}
<main>
    <form id="register-form" method="post" action="{% url 'lojarelogiosapp:register' %}">
        {% csrf_token %}
        <div style="background-color: #1f2453;" class="container-fluid fs-2 p-5">
            <div style="margin-top: 5em;" class="rounded bg-white shadow-sm mx-auto p-5 col-lg-6">
                <h1 class="text-center main-title" style="font-size: xx-large;">Registre-se</h1>
                <br />
                <p class="text-danger text-center">{{ erro_msg }}</p>
                <br />
                <div class="mb-3">
                    <label for="primeiro_nome" class="form-label">Primeiro Nome:<span
                            class="text-danger">*</span></label>
                    <input required minlength="3" maxlength="30" name="primeiro_nome" type="text"
                        class="fs-2 p-3 form-control" id="primeiro_nome" aria-describedby="primeiro_nome">
                </div>

                <div class="mb-3">
                    <label for="ultimo_nome" class="form-label">Último Nome:<span class="text-danger">*</span></label>
                    <input required minlength="3" maxlength="30" name="ultimo_nome" type="text"
                        class="fs-2 p-3 form-control" id="ultimo_nome" aria-describedby="ultimo_nome">
                </div>

                <div class="mb-3">
                    <label for="usuario" class="form-label">Usuário:<span class="text-danger">*</span></label>
                    <input required minlength="3" maxlength="30" name="usuario" type="text"
                        class="fs-2 p-3 form-control" id="usuario" aria-describedby="usuario">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:<span class="text-danger">*</span></label>
                    <input required maxlength="30" name="email" type="email" class="fs-2 p-3 form-control" id="email"
                        aria-describedby="email">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Confirmar email:<span class="text-danger">*</span></label>
                    <input required id="confirma-email" name="email" type="email" class="fs-2 p-3 form-control"
                        aria-describedby="email">
                </div>
                <!-- pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,24}$' -->
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha:<span class="text-danger">*</span></label>
                    <input required minlength="8" name="senha" type="password" class="fs-2 p-3 form-control" id="senha"
                        aria-describedby="senha">
                </div>

                <div class="mb-3">
                    <label for="confirma-senha" class="form-label">Confirmar senha:<span
                            class="text-danger">*</span></label>
                    <input required name="confirma-senha" type="password" class="fs-2 p-3 form-control"
                        id="confirma-senha" aria-describedby="confirma-senha">
                </div>
                <span id="erro-msg-span" class="text-danger text-center"></span>
                <button type="submit" id="sbtn" class="my-5 btn-style1 d-grid mx-auto">Registrar-se</button>
            </div>
        </div>
    </form>
</main>
<script async>
    const erro_msg = "Por favor, verifique se as senhas e emails estão iguais!"

    var testeCondicional = () => {
        if (confirmaSenha.value == senha.value && confirmaEmail.value == email.value) {
            sBtn.disabled = false;
            return true
        } else {
            sBtn.disabled = true;
            document.getElementById('erro-msg-span').innerHTML = erro_msg
            return false
        }
    }

    // Variável representando o input de senha
    var senha = document.getElementById('senha');
    senha.addEventListener('input', async () => testeCondicional());

    // Variável representando o input de confirmar senha
    var confirmaSenha = document.getElementById('confirma-senha');
    confirmaSenha.addEventListener('input', async () => testeCondicional());

    // Agora a gente pega o botão de submit
    var sBtn = document.getElementById('sbtn');

    // ============== Parte de email ==============    
    var email = document.getElementById('email');
    email.addEventListener('input', async () => testeCondicional());

    var confirmaEmail = document.getElementById('confirma-email');
    confirmaEmail.addEventListener('input', async () => testeCondicional());
</script>
{% endblock content %}