{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Loja de Relógios - Esqueci minha senha{% endblock title %}</title>
{% block content %}

<div style="background-color: #1f2453; min-height: 100vh;" class="container-fluid fs-2 p-5">
    <a href="{% url 'lojarelogiosapp:products' %}" class="return">
        <img src="{% static 'lojarelogiosapp/images/icon-arrow.svg' %}" alt="Return" /></a>

    <div style="margin-top: 5em;" class="rounded bg-white shadow-sm mx-auto p-5 col-lg-6">
        <h1 class="text-center main-title" style="font-size: xx-large;">Troca de senha</h1>

        <form method="post" id="switch-pass-form" action="{% url 'lojarelogiosapp:switch_pass' %}">
            {% csrf_token %}

            <br />
            <p class="text-danger text-center">{{ erro_msg }}</p>
            <br />

            <div class="mb-3">
                <label for="email" class="form-label">Email:<span class="text-danger">*</span></label>
                <input required maxlength="30" name="email" type="email" class="fs-2 p-3 form-control" id="email"
                    aria-describedby="email">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Confirmar email:<span class="text-danger">*</span></label>
                <input required id="confirma-email" name="email" type="email" class="fs-2 p-3 form-control"
                    aria-describedby="email">
            </div>

            <div class="m-5">
                <span id="erro-msg-span" class="text-danger text-center"></span>
                <button id='sbtn' type="button" class="mt-5 mb-4 btn-style1 d-grid mx-auto">Enviar
                    email</button>
            </div>
        </form>
    </div>
</div>
<script async>
    const erro_msg = "Por favor, verifique se os emails estão iguais!"

    var testeCondicional = () => {
        if (confirmaEmail.value == email.value) {
            //sBtn.disabled = false;
            return true;
        } else {
            //sBtn.disabled = true;
            return false;
        }
    }

    // Agora a gente pega o botão de submit
    var sBtn = document.getElementById('sbtn');

    // ============== Parte de email ==============    
    var email = document.getElementById('email');
    email.addEventListener('input', async () => testeCondicional());

    var confirmaEmail = document.getElementById('confirma-email');
    confirmaEmail.addEventListener('input', async () => testeCondicional());

    function checkDouble(event) {
        if (testeCondicional()) {
            document.getElementById('switch-pass-form').submit()
        } else {
            document.getElementById('erro-msg-span').innerHTML = erro_msg
        }
    }
    sBtn.addEventListener('click', () => checkDouble())
</script>
{% endblock content %}
{% include 'navbar.html' %}