{% extends 'base.html' %} {% load static %} {% block content %} {% include 'navbar.html' %}
<script>
    const input = document.getElementById("quantity");
    function addValue() {
        const input = document.getElementById("quantity");
        let max = parseInt(input.max);
        if (input.value < max) {
            input.value++;
        }
    }
    function subtraction() {
        const input = document.getElementById("quantity");
        if (input.value > input.min) {
            input.value--;
        }
    }
    function flipCard() {
        const card = document.querySelector("#product-info");
        card.classList.toggle("flip");
    }
</script>
<style>
    .swiper {
        margin-top: 3em;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: snow;
        min-width: fit-content;
    }

    .swiper-pagination-bullet-active {
        background-color: snow !important;
    }
</style>
<main class="details">
    <div class="product-images">
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img
                        src="{{ produto.imagem_capa.url }}"
                        alt=""
                    />
                </div>
                <div class="swiper-slide">
                    <img
                        src="{{ produto.imagem_2.url }}"
                        alt=""
                    />
                </div>
                <div class="swiper-slide">
                    <img
                        src="{{ produto.imagem_3.url }}"
                        alt=""
                    />
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="" id="product-info">
        <div class="face" id="back">
            <div class="top">
                <button class="product-name" onclick="flipCard()">
                    {{ produto.titulo }}
                </button>
                <p class="help">Clique no nome para adicionar ao carrinho</p>
            </div>
            <p class="product-details">
                {{ produto.descricao }}
            </p>
        </div>
        <div class="face" id="front">
            <div class="top">
                <button class="product-name" onclick="flipCard()">
                    {{ produto.titulo }}
                </button>
                <p class="help">Clique no nome para ver a descrição</p>
            </div>
            <div class="price">
                <p>Valor</p>
                <p class="value">R$ {{ produto.preco }}</p>
            </div>
            <div class="quantity">
                <label for="quantity">Quantidade</label>
                <div class="input">
                    <button class="sum" onclick="addValue()">+</button>
                    <input
                        type="number"
                        name="quantity"
                        id="quantity"
                        disabled
                        min="1"
                        max="{{ produto.quantidade }}"
                        value="1"
                    />
                    <button class="subtraction" onclick="subtraction()">
                        -
                    </button>
                </div>
            </div>
            <a class="btn-style2" href="{% url 'lojarelogiosapp:add_cart' produto.id_produto %}">Add to cart</a>
        </div>
    </div>
</main>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
{% include 'footer.html' %} {% endblock content %}
