{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Loja de Relógios - Produtos{% endblock title %}</title>

{% block content %}
{% include 'navbar.html' %}
<main class="main" style="min-height: 100vh;">

    <span id="error-div"
        class="rounded-4 text-danger lead display-6 text-center fixed-top bg-white w-50 mx-auto opacity-75 fw-semibold">{{erro_msg}}</span>

    <span id="success-div"
        class="rounded-4 text-success lead display-6 text-center fixed-top bg-white w-50 mx-auto opacity-75 fw-semibold">{{sucesso_msg}}</span>

    <div class="display-1 text-center my-5" style="font-family: cinzel;">Produtos</div>
    <div class="container cards">
        <div class="row">
            {% if available is False %}
            <span style="font-family: cinzel;" class="fs-1 text-center">Não temos produtos disponíveis
                atualmente...</span>
            <span style="font-family: cinzel;" class="fs-3 text-center">Volte mais tarde!</span>
            <br />
            <div style="font-family: cinzel;"
                class="fs-2 fw-bolder text-light text-center card border-secondary bg-secondary p-5 border-rounded">
                <h4>Quer encomendar um produto?</h4>
                <p>Me contate</p>
                <div class="footer-icons">
                    <ul style="list-style: none;" class="d-flex justify-content-center gap-5 my-5 py-5">
                        <li>
                            <a href="https://instagram.com/classewatches?igshid=YmMyMTA2M2Y="><img
                                    src="{% static 'lojarelogiosapp/images/icon-instagram.svg' %}" alt="Relógio" /></a>
                        </li>
                        <li>
                            <a href="https://wa.link/6r502g"><img
                                    src="{% static 'lojarelogiosapp/images/icon-phone.svg' %}" alt="Relógio" /></a>
                        </li>
                        <!--<li>
                            <a href=""><img src="{% static 'lojarelogiosapp/images/icon-facebook.svg' %}"
                                    alt="Relógio" /></a>
                        </li>-->
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if produtos %}
            {% for produto in produtos %}
            {% if produto.quantidade > 0 %}
            <div class="card-product col">
                <div class="image">
                    <img src="{{produto.imagem_capa.url}}" alt="{{produto.titulo}}">
                </div>
                <div class="card-buttons">
                    <a class="btn-style1" href="{% url 'lojarelogiosapp:details' produto.id_produto %}">See Products</a>
                    <a class="btn-style2" href="{% url 'lojarelogiosapp:add_cart' produto.id_produto %}">Add to cart</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <!-- Podia usar o empty tbm -->
            {% else %}
            <br />
            <br />
            <div style="font-family: cinzel;" class="my-5 fs-2 fw-bolder text-center">
                <p>Estamos reestocando...</p>
                <h4>Alguma dúvida? Me mande uma mensagem!</h4>
                <a href="https://wa.link/6r502g" target="_blank">
                    <img class="d-grid mx-auto img-responsive my-5" style="max-width: 50%;" ;"
                        src="{% static 'lojarelogiosapp/images/qrcode.png' %}" alt="qrcode"></img>
                </a>
                {% endif %}
            </div>
        </div>
</main>
<script async src="{% static 'lojarelogiosapp/scripts/products.js' %}"></script>
{% include 'footer.html' %}

{% endblock content %}