{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Loja de Relógios - Produtos{% endblock title %}</title>

{% block content %}
{% include 'navbar.html' %}
<main class="main">

    <span id="success-div"
        class="rounded-4 text-success lead display-6 text-center fixed-top bg-white w-50 mx-auto opacity-75 fw-semibold">{{sucesso_msg}}</span>

    <div class="main-title">Products</div>
    <div class="container cards">
        <div class="row">
            {% for produto in produtos %}
            {% if produto.quantidade > 0 %}
            <div class="card-product col">
                <div class="image">
                    <img src="{{produto.imagem_capa.url}}" alt="{{produto.titulo}}">
                </div>
                <div class="card-buttons">
                    <a class="btn-style1" href="{% url 'lojarelogiosapp:details' produto.id_produto %}">See Products</a>
                    <a class="btn-style2" href="{% url 'lojarelogiosapp:add_cart' produto.id_produto %}">Add to cart</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</main>
<script async>
    var successDiv = document.getElementById('success-div')

    setTimeout(() => successDiv.style.display = 'none', 3000)
</script>
{% include 'footer.html' %}

{% endblock content %}