{% extends "admin/base_site.html" %}

{% load static %}

{% block title %}Loja de Relógios: Administração{% endblock %}
{% block extrahead %}
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
{% endblock %}
{% block branding %}
<style>
    :root {
        --primary-color: snow;
        --accent-color: #1f2453;
    }

    body {
        background-color: var(--primary-color);
        color: aliceblue;
    }

    p,
    h1,
    h2,
    h4,
    h4,
    span,
    h5,
    h6 {
        color: black;
    }

    div.breadcrumbs {
        background-color: var(--accent-color);
    }

    #changelist {
        background-color: var(--accent-color);
    }

    nav,
    #header,
    #nav-sidebar {
        background-color: var(--accent-color);
    }

    a:first-child {
        color: snow;
    }

    #searchbar,
    #nav-filter {
        background-color: snow;
    }

    th,
    td,
    caption,
    input,
    input.default {
        background-color: var(--accent-color) !important;
        color: snow !important;
    }

    h2 {
        background-color: var(--accent-color) !important;
        color: snow;
    }

    input#nav-filter {
        background-color: black !important;
    }

    button {
        background: none;
        border: none;
        color: snow;
        margin-top: 2px;
    }

    button:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    ul,
    ul li {
        color: snow;
    }

    html,
    body.login,
    div#content.colM {
        background-color: snow;
        color: black;
    }

    span {
        color: snow;
    }
</style>
<h1 id="site-name"><a href="{% url 'admin:index' %}">Loja de Relógios: Administração</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}