{% load static %}

<head>
    <meta charset="utf-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Encontre relógios de pulso" />
    <meta name="keywords" content="Encontre relógios de pulso, relógio de pulso, relógios, Contagem, Minas Gerais" />
    <meta name="author" content="Rafael N e Gabriel X" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Space+Grotesk&display=swap"
        rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

    <!-- Css -->
    <link rel="stylesheet" media="(max-width: 2560px)" href="{% static 'lojarelogiosapp/index.css' %}" />
    <link rel="shortcut icon" href="{% static 'lojarelogiosapp/images/icone5.svg' %}" type="image/x-icon" />
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <title>{% block title %}Loja de Relógios - Confirmar compra{% endblock title %}</title>
</head>
<!---->

<div id="wallet_container"></div>
<input id="pref-id" type="hidden" value="{{ pref_id }}" />

{% include 'footer.html' %}
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script>
    const mp = new MercadoPago('TEST-49f2a42c-6762-4cb0-aeb5-367af1ca238f');
    var prefId = document.getElementById('pref-id').value

    /*fetch('https://api.mercadopago.com/checkout/preferences?access_token=TEST-6033284383326765-042517-f71f881b0fdb00736ff2f02a4c8360ac-472353305')
        .then((response) => console.log(response))
        .catch((err) => console.log(err))*/

    mp.bricks().create("wallet", "wallet_container", {
        initialization: {
            preferenceId: prefId,
        },
    });

</script>
</body>