{% extends 'base.html' %} {% load static %} {% block content %}
<div id="root"></div>
<main>
    <div class="content">
        <div class="fundo">
            {% if user.is_authenticated %}
            <a href="{% url 'lojarelogiosapp:index_user' %}" class="btn btn-link text-light btn-sm float-end">Olá {{ user.username }}</a>
            {% else %}
            <a href="{% url 'lojarelogiosapp:login' %}" class="btn btn-link text-light btn-sm float-end">Entrar</a>
            {% endif %}
            <div class="icon">
                <img
                    src="{% static 'lojarelogiosapp/images/icon-logo.svg' %}"
                    alt="Relógio"
                />
            </div>
        </div>
        <div class="text">
            <h1>Watch Store</h1>
            <div class="paragraph">
                <p>Localização: Rua alguma coisa</p>
                <p>
                    Horário de funcionamento: Segunda a Sexta de 9:00 às 18:00
                </p>
            </div>
            <a href="{% url 'lojarelogiosapp:products' %}" class="btn-style1">
                <p>Products</p>
            </a>
        </div>
    </div>
</main>
{% endblock content %}
