{% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="background-color: #d9d9d9;">
    <a href="{% url 'lojarelogiosapp:products' %}" class="return">
        <img src="{% static 'lojarelogiosapp/images/icon-arrow.svg' %}" alt="Return" /></a>

    <div class="privacy-policy">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sunt nobis ex. Quo repudiandae quaerat ipsum
            minus
            dignissimos cumque obcaecati molestiae nobis labore magnam doloribus porro vitae exercitationem suscipit,
            eum
            saepe, possimus a harum sequi adipisci modi perferendis placeat. Illum qui tempora eum facere rem delectus
            velit
            saepe molestiae adipisci consectetur sint, quas, quibusdam eveniet et quos ratione unde maxime natus
            obcaecati.
            Quos dolorum sunt in incidunt, aut numquam cumque impedit labore nesciunt eius, vel, minus ipsa. Nesciunt
            eum
            dolorem expedita, ad error ducimus explicabo blanditiis exercitationem hic quasi at, ab sit tempore fugit
            culpa
            aut eligendi totam accusamus iure? Adipisci eos, facere odit veniam dolor blanditiis doloremque ullam
            architecto
            ab accusamus unde dignissimos voluptate maxime sapiente quam amet tempora, reiciendis saepe, maiores quos
            eveniet nihil illo error. Alias voluptatibus similique, soluta ducimus veniam sunt, fugiat temporibus hic
            dignissimos maxime architecto saepe minus harum officiis nesciunt nisi accusantium et odit consequuntur
            repellendus. Dolorem omnis aut, placeat harum perspiciatis, architecto quasi inventore saepe voluptatum
            quibusdam, assumenda eos aliquid. Quis commodi corporis similique recusandae nulla consequuntur doloribus
            omnis
            sed rem, nobis vitae dolore vero minus rerum nostrum ullam magnam modi quidem. Numquam architecto excepturi
            mollitia hic sed aspernatur corporis magnam, quia qui beatae pariatur magni commodi, doloribus aliquid omnis
            animi aut error eius cumque molestiae at inventore. Suscipit ex assumenda fugiat inventore deserunt impedit.
            Laboriosam facilis ipsum cumque nisi quo laborum, culpa velit modi autem quaerat commodi porro quasi aut
            aspernatur deleniti mollitia at. Accusantium ipsam perferendis ipsum quaerat architecto, maiores obcaecati
            veniam, eius velit sapiente tempore suscipit dicta animi libero quo harum non, ullam vel fugit sint vero
            illo
            voluptatum nemo veritatis! Explicabo voluptas blanditiis provident nihil sunt eos illum, ad consectetur,
            neque
            reiciendis consequatur esse harum suscipit impedit dignissimos nobis, fugit animi quasi amet! Aperiam, vero.
            Ratione maxime at fuga dolorum. Voluptate, architecto delectus consectetur hic laboriosam repellat at eaque.
            Ipsum optio vero laboriosam repudiandae voluptas quas asperiores quasi voluptate, iure at eum deleniti
            aliquam
            maxime nulla eius delectus blanditiis dolores dolor fugiat ratione rerum totam minus ab ullam. Voluptate, ad
            dolores perspiciatis deleniti similique obcaecati repellat. Tempore cupiditate, porro non suscipit ipsum
            earum
            maiores velit magnam explicabo recusandae dolore, unde exercitationem cum id. Earum quasi, maiores
            praesentium
            magni sint ullam commodi, rerum voluptates corporis doloribus eius consectetur facilis quas consequuntur,
            facere
            odio deserunt consequatur velit nobis est assumenda veniam ad? Iste nam repudiandae magnam nemo dolor optio
            magni mollitia ea, aliquam aliquid facere necessitatibus eveniet nobis eius quis quo! Fuga, labore officiis.
            Sapiente sunt eos, commodi vitae facere consectetur, ratione, nam necessitatibus quidem distinctio incidunt.
            Nemo porro enim quisquam quasi optio est nobis, possimus delectus expedita. Facilis eaque minus ipsa
            delectus
            odit tempora dignissimos inventore enim quisquam fuga, magni accusantium cum odio libero in necessitatibus
            vitae
            voluptas possimus laudantium sit, consectetur, eius debitis! Optio sapiente quasi doloribus obcaecati
            assumenda
            odit dolorem ipsa ducimus porro quo mollitia, impedit laboriosam voluptas debitis iure aut asperiores ad,
            explicabo quod at dicta iste! Fuga perferendis repellat eveniet deleniti quo vero dolorem consequatur,
            dolores
            quisquam perspiciatis harum ullam exercitationem deserunt est, libero suscipit eligendi minima. Vel, dolores
            dignissimos non nam in iste totam at quia ex culpa saepe unde ratione recusandae ullam porro voluptatum
            assumenda voluptatem aliquid quas aliquam. Mollitia, consequuntur labore possimus reiciendis aperiam itaque,
            rem
            repudiandae iste a dignissimos perspiciatis officia nulla deleniti nam sint aspernatur commodi magnam
            sapiente?
            Quod neque quos dolor inventore culpa! Fugit velit eveniet quia esse quibusdam nam eligendi reiciendis
            blanditiis, odit laboriosam assumenda eos possimus, perferendis animi ipsa sapiente a beatae nostrum quaerat
            labore. Natus, exercitationem? Perspiciatis delectus animi culpa ducimus fuga harum asperiores ex vel
            quidem!
        </p>
        <!-- 
            <div class="confirmation">
            <div class="input">
                <input type="checkbox" name="confimation" id="accept-privacy">
                <label for="accept-privacy">Você aceita nossos termos de politica de privacidade</label>
            </div>
            <button type="submit" class="btn-style4">Confirmar</button>
        </div>
         -->
    </div>
</section>
{% include 'footer.html' %}
{% endblock content %}