{% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="background-color: #d9d9d9;">
    <a href="{% url 'lojarelogiosapp:products' %}" class="return">
        <img src="{% static 'lojarelogiosapp/images/icon-arrow.svg' %}" alt="Return" /></a>

    <div class="privacy-policy">
        <p>
            Todos os seus dados estão em absoluta segurança na nossa base de dados. Não compartilhamos 
            os dados dos nossos clientes com terceiros. Todas as informações cadastradas aqui não serão
            divulgadas. Todas as informações sensíveis cadastradas aqui são criptografadas. Tomamos diversas
            atitudes buscando garantir a segurança e integridade dos dados dos nossos clientes. Todos os 
            pagamentos feitos por meio desse, são intermediados por terceiros, delegando assim, todas a
            responsibilidade para empresas maiores e mais capacitadas para a implementação de opções de
            pagamento confiáveis, seguras, testadas e já utilizadas incessantemente no mercado. Nós 
            não guardamos dados sensíveis sobre pedidos feitos pelo cliente na página de usuário, assim, 
            apenas os administradores do site tem acesso a essa informação. 
            
            Quaisquer dúvidas sobre erros, problemas em transações, retorno de pagamentos, alteração de dados sensíveis, consultas, 
            perguntas, informações sobre pedidos, etc, entre em contato através do <a href="https://wa.link/6r502g">Whatsapp</a> ou 
            no número +55 31 86624 612. Pode entrar em contato comigo através do código QR caso prefira:
            <br />
            <img class="d-grid mx-auto" src="{% static 'lojarelogiosapp/images/qrcode.png' %}" alt="qrcode"></img>
        </p>
        <!-- 
            <div class="confirmation">
            <div class="input">
                <input type="checkbox" name="confimation" id="accept-privacy">
                <label for="accept-privacy">Você aceita nossos termos de politica de privacidade</label>
            </div>
            <button type="submit" class="btn-style4">Confirmar</button>
        </div>
         -->
    </div>
</section>
{% include 'footer.html' %}
{% endblock content %}