.privacy-policy{
    height: 100vh;
    padding: 1rem;
    flex-direction: column;
    background-color: $gray;
    @include display-style(flex,center,center);
    p{
        width: 90%;
        height: 80vh;
        padding: 1rem;
        overflow: auto;
        margin-bottom: .5rem;
        background-color: $white;
        border: 2px solid blue;
        @include text-style(600, $text-size-small, Cinzel);
        
    }
    .confirmation{
        @include display-style(flex,center,none);
        flex-direction: column;
        @include text-style(600, $text-size-small, Cinzel);
        button{
            display: block;
        }
    }
    
}