{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Encontre relógios de pulso">
    <meta name="keywords" content="Encontre relógios de pulso, relógio de pulso, relógios, Contagem, Minas Gerais">
    <meta name="author" content="Rafael N e Gabriel X">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Space+Grotesk&display=swap"
        rel="stylesheet" />

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <!-- Css -->
    <link rel="stylesheet" media="(max-width: 2560px)" href="{% static 'lojarelogiosapp/index.css' %}" />
    <link rel="shortcut icon" href="{% static 'lojarelogiosapp/images/icone5.svg' %}" type="image/x-icon" />

    <title>{% block title %}Loja de Relógios{% endblock title %}</title>
</head>

<body>
    {% block content %} {% endblock content %}
    <footer class="products-footer">
        <div class="info-text">
            <h1>Watch Store</h1>
            <p>Localização: Rua alguma coisa</p>
            <p>
                Horário de funcionamento: Segunda a Sexta de 9:00 às 18:00
            </p>
        </div>
        <div class="footer-icons"></div>
    </footer>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>