{% load static %}

<!-- Button trigger modal -->
{% if user.is_authenticated %}
<a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <img src="{% static 'lojarelogiosapp/images/icon-cart.svg' %}" alt="Carrinho de compras" />
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="post" action="{% url 'lojarelogiosapp:payment' %}">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <p class="fs-2 text-dark">
                        {{ carrinho }}
                    </p>
                    {% for produto in carrinho.produto_set.all %}
                    <ul class="row list-group">
                        <li class="text-dark list-group-item">
                            <a class="float-start btn btn-danger remove-cart"
                                href="{% url 'lojarelogiosapp:remove_cart' produto.id_produto %}">
                                <img class="float-start" src="{% static 'lojarelogiosapp/images/icon-trash.svg' %}"
                                    alt="Remover item do carrinho"></a>
                            {{ produto }}
                            <div class="bought-products-info float-end">
                                <p>1</p>
                                <p>R$ {{ produto.preco }}</p>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal">Close</button>
                    
                    {% if carrinho.produto_set.exists %}
                    <div class="value-total">
                        <p>Total</p>
                        <p>R$ {{ total }}</p>
                    </div>
                    {% else %}
                    {% endif %}
                    
                    {% if carrinho.produto_set.exists %}
                    <button type="submit" class="btn btn-success btn-lg">Comprar</button>
                    {% else %}

                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>
{% else %}
<a href="{% url 'lojarelogiosapp:login' %}">
    <img src="{% static 'lojarelogiosapp/images/icon-cart.svg' %}" alt="Carrinho de compras" />
</a>
{% endif %}