{% load static %}
<footer class="products-footer">
    <div class="info-text">
        <h1>Watch Store</h1>
        <p>Localização: Rua alguma coisa</p>
        <p>Horário de funcionamento: Segunda a Sexta de 9:00 às 18:00</p>
        <a href="{% url 'lojarelogiosapp:privacy' %}" style="color: #717fff"><strong>Privacidade e segurança</strong></a>
    </div>
    <div class="footer-icons">
        <ul>
            <li>
                <a href="https://instagram.com/classewatches?igshid=YmMyMTA2M2Y="
                    ><img
                        src="{% static 'lojarelogiosapp/images/icon-instagram.svg' %}"
                        alt="Relógio"
                /></a>
            </li>
            <li>
                <a href="https://wa.link/6r502g"
                    ><img
                        src="{% static 'lojarelogiosapp/images/icon-phone.svg' %}"
                        alt="Relógio"
                /></a>
            </li>
            <!--
            <li>
                <a href=""
                    ><img
                        src="{#% static 'lojarelogiosapp/images/icon-facebook.svg' %#}"
                        alt="Relógio"
                /></a>
            </li>-->
        </ul>
    </div>
</footer>
