{% load static %}

<header class="header" style="position: static !important;">
    <div class="logo">
        <a href="{% url 'lojarelogiosapp:index' %}"><img src="{% static 'lojarelogiosapp/images/icon-watch.svg' %}"
                alt="Carrinho de compras" /></a>
    </div>
    <div class="users-functions">
        {% include 'cart.html' %}
        {% if user.is_authenticated %}
        <a href="{% url 'lojarelogiosapp:index_user' %}">
            <img src="{% static 'lojarelogiosapp/images/icon-user.svg' %}" alt="Perfil do Usuário" />
        </a>
        {% else %}
        <a href="{% url 'lojarelogiosapp:login' %}">
            <img src="{% static 'lojarelogiosapp/images/icon-user.svg' %}" alt="Perfil do Usuário" />
        </a>
        {% endif %}
    </div>
</header>